.toast {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: #08c25b;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  animation: slideDown 0.4s ease-out, fadeOut 0.5s ease-out 2s forwards;
  font-size: 15px;
  z-index: 9999;
}

@keyframes slideDown {
  from { transform: translate(-50%, -50px); opacity: 0; }
  to   { transform: translate(-50%, 0px); opacity: 1; }
}

@keyframes fadeOut {
  to { opacity:0; transform: translate(-50%, -20px); }
}
